[submodule "src/opendbc/opendbc"]
	path = ros2_ws/src/opendbc/opendbc
	url = git@github.com:frk2/opendbc.git
[submodule "src/oscc/oscc"]
	path = ros2_ws/src/oscc/oscc
	url = git@github.com:frk2/oscc.git
[submodule "ros1_ws/src/zed-ros-wrapper"]
	path = ros1_ws/src/zed-ros-wrapper
	url = git@github.com:stereolabs/zed-ros-wrapper.git
