<!--
@Author: Jose Rojas <jrojas>
@Date:   2018-07-24T01:43:12-07:00
@Email:  jrojas@redlinesolutions.co
@Project: ros-libav-node
@Last modified by:   jrojas
@Last modified time: 2018-07-24T09:13:21-07:00
@License: MIT License
@Copyright: Copyright @ 2018, Jose Rojas
-->

<launch>

    <arg name="record_root" default="$(dirname)/../../../data/"/>

    <param name="libav_video_decoder_root_path" value="$(arg record_root)" />

    <node pkg="ros_libav" type="playback.py" name="libav_video_player">
      <param name="libav_video_decoder_stream_topic" value="zed/left/image_raw_color/stream" />
      <param name="libav_video_decoder_stream_event_topic" value="zed/left/image_raw_color/stream/event" />
    </node>

    <node pkg="radar" type="radar_viz.py" name="radar_viz" />

    <param name="robot_description" textfile="$(dirname)/../../../data/kia_soul/robot_description.urdf" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state" >
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_baselink_broadcaster" args="0 0 0 0 0 0 map base_link 100" />

</launch>
