<!--
@Author: Jose Rojas <jrojas>
@Date:   2018-07-12T01:43:12-07:00
@Email:  jrojas@redlinesolutions.co
@Project: ros-libav-node
@Last modified by:   jrojas
@Last modified time: 2018-07-14T09:13:21-07:00
@License: MIT License
@Copyright: Copyright @ 2018, Jose Rojas
-->

<launch>

    <arg name="record_root"/>
    <arg name="bagfile" />

    <param name="libav_video_decoder_root_path" value="$(arg record_root)" />

    <node pkg="ros_libav" type="playback.py" name="libav_video_player_left" >
      <param name="libav_video_decoder_stream_topic" value="camera/left/image_raw/stream" />
      <param name="libav_video_decoder_stream_event_topic" value="camera/left/image_raw/stream/event" />
    </node>

    <node pkg="ros_libav" type="playback.py" name="libav_video_player_right" >
      <param name="libav_video_decoder_stream_topic" value="camera/right/image_raw/stream" />
      <param name="libav_video_decoder_stream_event_topic" value="camera/right/image_raw/stream/event" />
    </node>

    <node pkg="rosbag" type="play" name="rosbag_player_rgb" args="-l -d 2 $(arg bagfile)"/>
</launch>
