<?xml version="1.0"?>
<launch>
  <!-- Launch ROS Package Template Node -->
  <!-- node pkg="controls" type="longitudinal_control.py" name="controls" output="screen"/-->
  <arg name="use-radar" value="true" />
  <param name="can-control-interface" value="can0" />

  <node pkg="canoc" type="transceiver.py" name="transceiver" output="screen">
    <param name="can-interfaces" value="can0" if="$(arg use-radar)" />
    <param name="can-interfaces" value="can0" unless="$(arg use-radar)" />
  </node>

  <param name="radar-interface" value="can1"/>
  <node pkg="radar" type="toyota_radar_controller.py" name="radar" output="screen" if="$(arg use-radar)"/>
  <node pkg="vehicle" type="kia_soul_driver.py" name="vehicle" output="screen"/>

</launch>
