<launch>
    <node pkg="radar" type="radar_viz.py" name="radar_viz" />

    <param name="robot_description" textfile="$(dirname)/../../../data/kia_soul/robot_description.urdf" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state" >
    </node>

    <node name="joint_state_publisher" pkg="robot_description" type="joint_state_publisher.py" >
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_baselink_broadcaster" args="0 0 0 0 0 0 map base_link 100" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(dirname)/../../../rviz/ros1-radar.rviz" />
</launch>
